resources/schemas/test/test_1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:test="http://www.evoting.ch/xmlns/test1/1"
					 xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.evoting.ch/xmlns/test1/1"
					 elementFormDefault="qualified" attributeFormDefault="qualified">

	<xs:element name="tests">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="valueString" type="xs:string"/>
				<xs:element name="valueBoolean" type="xs:boolean" minOccurs="0"/>
				<xs:element name="valueInt" type="xs:nonNegativeInteger"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>
